.aboutUs__content {
    width: 500px;
    margin: 100px auto 0;
}

.header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.a {
    color: #C0C0C0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.a:hover {
    color: #F0F0F0;

}



@media (max-width: 900px) {


    .content {
        width: 800px;
    }

    .flex-container {

        justify-content: space-around;

    }
}



@media (max-width: 500px) {
    .aboutUs__content {
        width: 420px;
    }




}

@media (max-width: 450px) {
    .aboutUs__content {
        width: 400px;
    }




}

@media (max-width: 400px) {
    .aboutUs__content {
        width: 350px;
    }




}