.flexForItem {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.furniture__image {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    width: 710px;
    height: 520px;

}

.p {
    font-size: 20px;
    font-weight: 700;
}

.span {
    font-size: 18px;
    font-weight: 500;
}

.furniture__info {
    width: 590px;
    font-weight: 500;
    font-size: 18px;

}

.dopStyleForImg {
    width: 600px;
    height: 670px;
}

.dopStyleForDescription {
    width: 690px;
}