* {
    box-sizing: border-box;
    font-family: 'Inter', Regular;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


.content {
    position: relative;
    width: 1320px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.header {
    height: 96px;
    background-color: #292929;



}

.main {
    min-height: 796px;
    padding: 20px 0;
    background-color: #222121;
    color: #F0F0F0;
    font-weight: 500;

}


.footer {
    height: 77px;
    background-color: #292929;
    /* #FFA500 */
    text-align: center;


}

@media (max-width: 1340px) {


    .content {
        width: 992px;
    }

    .header {
        height: 150px;
    }
}

@media (max-width: 992px) {


    .content {
        width: 900px;
    }
}

@media (max-width: 900px) {


    .content {
        width: 800px;
    }

    .flex-container {

        justify-content: space-around;

    }
}

@media (max-width: 768px) {


    .content {
        width: 700px;
    }

    .header {
        height: 220px;
    }
}

@media (max-width: 700px) {


    .content {
        width: 640px;
    }
}

@media (max-width: 640px) {


    .content {
        width: 570px;
    }


}

@media (max-width: 576px) {


    .content {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .content {
        width: 420px;
    }

    .header {
        height: 360px;
    }


}

@media (max-width: 450px) {
    .content {
        width: 400px;
    }




}

@media (max-width: 400px) {
    .content {
        width: 350px;
    }




}